.App {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  margin: 0!important;
  padding: 0!important;
}

.container {
  /* margin: 0!important;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
}