.nav-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 0;
}

.nav-text-container {
  font-size: 12px;
  margin-bottom: 16px;
  padding-bottom: 6px;
  padding: 8px;
  margin-bottom: 0;
  background-color: #000;
  color: rgb(196, 196, 196);
}

.nav-logo {
  padding: 20px;
  background-color: #F8F9FA;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
}
