.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  margin-bottom: 25px;
  text-align: center;
}

.card img {
  height: 19rem;
}

.modal-body {
  overflow-y: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
